@using BhuInfo.Data.Factory.BusinessFactory
@using BhuInfo.Data.Objects.Entities
@using BhuInfo.Data.Service.DateTimeHelper
@using BhuInfo.Data.Service.Encryption
@model SchoolDiscussion
@{
    var discussionId = Model.SchoolDiscussionId;

    var discussionComments = new DiscussionCommentFactory().GetDiscussionComments((int) discussionId).OrderByDescending(n=>n.DateCreated);
    var schoolDiscussionComments = discussionComments as IList<SchoolDiscussionComment> ?? discussionComments.ToList();
}
@if (schoolDiscussionComments.Count > 0)
{
    <h4>COMMENTS</h4>
}
else
{
  <h4></h4>
}
<ul id="lazy-container">
    @foreach (var item in schoolDiscussionComments)
    {
        var commentBy = new AppUserFactory().GetAppUserById((int)item.AppUserId);
        <li class="lazy">
            <div class="comments-main">
                <div class="col-md-3 cmts-main-left">
                    @if (commentBy != null)
                    {
                        <a href="@Url.Action("ProfileDetails","Account",new {Id = new Md5Ecryption().EncryptPrimaryKey(item.AppUserId.ToString(),true)})"><img src="../../UploadedFiles/ProfileImage/@commentBy.AppUserImage" class="img-responsive" alt=""></a>
                    }
                    else
                    {
                        <img src="../../AppTheme/images/avatar.jpg" alt="">
                    }
                </div>

                <div class="col-md-9 cmts-main-right">
                    <h5 class="detailsDiv" style="font-family: sans-serif">@item.CommentBy</h5>
                    <p>@item.Comment.</p>
                    <div class="cmts">

                        <p style="color: #3498DB">@(new DateTimeCalculator().TimeAgo(item.DateCreated))</p>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    }
</ul>